{
  "name": "@514labs/${node_pkg}",
  "version": "${node_version}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "repository": {
    "type": "git",
    "url": "https://github.com/514-labs/moosestack"
  }
}